body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}

.visually-hidden/*:not(:focus):not(:active),
.input[type="checkbox"].visually-hidden,
.input[type="radio"].visually-hidden */ {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------ Header ------ */
/* Верх */

.main-header {
  margin-bottom: 60px;
  padding-bottom: 60px;

  color: #000000;

  background-color: #F3F7F8;

}

.header-top {
  color: #ffffff;
  line-height: 18px;

  background-color: #293449;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.header-top .wrapper {
  display: flex;
  flex-direction: row;
}

.logo {
  display: inline-block;
  padding: 8px 55px 8px 55px;

  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #B72430;

  z-index: 2;
}

.link .logo:hover, 
.link .logo:focus {
  text-decoration: none;

  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9B1B25;
}

.link .logo:active {
  text-decoration: none;

  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8F1821;
}

.search .input {
  width: 270px;
  padding: 11px 0 13px 50px;

  font-size: inherit;
  line-height: inherit;
  color: #ffffff;

  background-color:inherit;
  border: none;
}

.search .input:hover,
.shop-navigation-link:hover,
.shop-navigation-link:focus  {
  background-color: #212a3a;
}

.search .input:focus {
  color: #000000;

  background-color: #ffffff;
}

.search .input::placeholder {
  color: #ffffff;
}

::-moz-placeholder {
  opacity: 1;
}

.shop-navigation {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;

  list-style: none;
}

.shop-navigation-link {
  display: block;
  box-sizing: border-box;
  min-width: 150px;
  min-height: 42px;
  padding: 11px 0 13px 50px;

  color: #ffffff;
}

.shop-navigation-link.order {
  padding-left: 20px; 
}

.shop-navigation-link:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.shop-navigation-link.order {
  background-color: #63a63e;
}

.shop-navigation-link.order:hover,
.shop-navigation-link.order:focus {
  background-color: #5fbb2d;
}

.shop-navigation-link.order:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

/* Середина */
.header-middle {
  display: flex;

  padding-top: 46px;
}

.main-title {
  width: 200px;
  padding: 10px 10px 10px 53px;

  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  vertical-align: middle;
  color: #ee3643;
}

.phone-number {
  display: block;
  padding: 10px 42px 8px 71px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation-item {
  display: inline-block;
}

.user-navigation-link {
  padding: 14px 25px 11px 25px;

  font-size: 21px;
  line-height: 21px;

  background-color: #ffffff;
}

.user-navigation-link .enter {
  padding-left: 48px;
}
/* Низ */
.site-navigation {
  display: flex;
  justify-content: stretch;
  margin: 0;
  padding: 0;

  color: #ffffff;

  list-style: none;
  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;
}
.site-navigation-item {
  flex-grow: 1;
}
.site-navigation-link {
  display: inline-block;
  padding: 22px 31px 26px 31px;

  color: inherit;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  background-color: #293449;
}

.site-navigation-link:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

/* ------ Main ------ */

.button {
  display: inline-block;

  padding: 13px;

  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  border-style: none; 
  border-radius: 3px; 
  background-color: #ee3643;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.promo {
  margin-bottom: 53px;  
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.selected-sections-list,
.selected-benefits-list, /*Допилисть, чтобы нормально было с переполнением.*/
.offers {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.selected-sections-item,
.selected-benefits-item {
  width: 254px;
  padding: 23px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;

  background-color: #ffbf47;
}

.selected-sections-item h3,
.selected-benefits-item h3 {
  margin: 0;
}

.selected-sections-item.tools {
  background-color: #3bbce3;
}

.selected-sections-item.machinery {
  background-color: #dc91d8;
}


.selected-sections-link,
.selected-benefits-link {
  background-color: rgba(0, 0, 0, 0.1);
}

.selected-sections-link:hover,
.selected-sections-link:focus,
.selected-benefits-link:hover,
.selected-benefits-link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.selected-sections-link:active,
.selected-benefits-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.selected-benefits-list {
  flex-direction: column;
}

.bestsellers-header,
.popular-brands-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 90px; 
  margin-bottom: 20px;
  padding: 0 24px 2px 30px; 

  background-color: #f9f5f0;
}

.bestsellers-header h2,
.popular-brands-header h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: #32425c;
} 

.popular-brands {
  margin-bottom: 65px;  
}
.popular-brands-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -20px;
  padding: 0;

  list-style: none;
}
.popular-brands-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 143px;
  margin: 0 0 20px 20px;

  border: 1px solid #eaeaea; 
}

.popular-brands-link:hover,
.popular-brands-link:focus {
  border-color: transparent;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-link:active {
  border: none;
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.services-container {
  background-color: #F4F8F9;
}

.services {
  padding-top: 60px;
  padding-bottom: 55px;  
}

.text-content {
  font-size: 13px;
  line-height: 24px;
  font-family: PTSans, Arial, sans-serif;
}

.text-content h2,
.text-content h3 {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
} 

.text-content h2 {
  font-size: 30px;
  line-height: 30px;
}

.text-content h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.services-slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-company-containter {
  display: flex;
  justify-content: space-between;

  padding-top: 82px;
  padding-bottom: 86px; 
}

.about {
  width: 520px;
}

.contacts {
  width: 300px;
}

.shipping-partners-list {
  margin: 0;
  padding: 0 0 0 35px;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

/* ------ Footer ------ */

.footer {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;

  background-color: #32425c;
}

.footer a {
  color: inherit;
}

.footer a:hover,
.footer a:focus {
  text-decoration: underline;
}

.footer .logo {
  padding: 21px 41px;

  font-size: 30px;
  line-height: 30px;
}

.footer-main {
  display: flex;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
}

.footer-navigation-main,
.footer-navigation-highlights {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}


.footer-navigation-main-link,
.footer-navigation-highlights-link {
  display: block;
}

.footer-footer-containter {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449; 
}


.footer-footer-containter a {
  color: #ffd180;
}

.footer-socials-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* ------ Catalog ------ */

.filter ul,
.sorting ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -20px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  height: 316px;
  margin: 0 0 20px 20px;

  text-align: center;

  border: 1px solid #eaeaea; 
}

.catalog-item:hover,
.catalog-item:focus {
  border-color: transparent;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}


.catalog-item .flag {
  position:absolute;
  top:-1px;
  right:-1px;
  width:60px;
  height:60px;
  text-indent:-1000px;
  overflow:hidden;
  z-index:20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item-img {
  display: block;
  width: 184px;
  height: 164px;
  margin: 0 auto;
}

.catalog-item-title {
  min-height: 40px;
  padding: 0 25px;

  font-family: PT Sans, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.catalog-item .discount{
  min-height:20px;
  margin-top:15px;
  margin-bottom:10px;
  color:#999;
  text-decoration:line-through;
}

.catalog-item .price{
  position:relative;
  width:80px;
  margin:10px auto;
  margin-bottom:20px;
  padding:10px 30px;
  color:white;
  background:#ee3643;
  border-radius:3px;
}

.catalog-item .price:after{
  content:"";
  position:absolute;
  top:0;
  right:-20px;
  width:0;
  height:0;
  border:20px solid white;
  border-left-color:#ee3643;
}


.catalog-item-actions {
  display:none;
  position: absolute;
  top:0;
  left:0;
  width:218px;
  height:88px;
  padding:40px 0;
  background-color: #ffffff;
  z-index:10;
}

.catalog-item-actions .button-buy,
.catalog-item-actions .button-bookmark {
  display:block;
  box-sizing: content-box;
  width:129px;
  margin:0 auto;
  margin-bottom:7px;
  line-height: 18px;

  box-shadow: inset 0 -3px #367315; 
  background-color:#63a63e;
}

.catalog-item-actions .button-buy {
  padding: 10px 3px;
}

.catalog-item-actions .button-buy:hover,
.catalog-item-actions .button-buy:focus {
  background-color: #5fbb2d;
}

.catalog-item-actions .button-buy:active {
  background-color: #518534;
  box-shadow: inset 0 -3px #518534;
}

.catalog-item-actions .button-bookmark {
  padding:7px 0;

  color:#32425c;
  
  background:white;
  border: 3px solid #63a63e;
  box-shadow: none;
}

.catalog-item-actions .button-bookmark:hover,
.catalog-item-actions .button-bookmark:focus {
  border-color: #32425c; 
}

.catalog-item-actions .button-bookmark:active {
  opacity: 0.3;
}

.catalog-item:hover .catalog-item-actions {
  display:block;
}

.pagination {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-page-description {
  padding: 67px 0 73px 0;

  background-color: #F2F6F8;
}
